﻿@model ProductModel

@{
    ViewData["Title"] = "Create un produit";
}

<form action="/product/create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input asp-for="Nom" class="form-control" type="text" />
        <span asp-validation-for="Nom"></span>
    </div>
    <div class="form-group">
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <input asp-for="Prix" class="form-control" type="text" />
        <span asp-validation-for="Prix"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Sauvegarder"/>
    </div>
</form>

