﻿@model List<ProductModel>
@{
    ViewData["Title"] = "Bieres";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductModel item in Model)
        {
            <tr>
                <td>@item.Nom</td>
                <td>@item.Description.</td>
                <td>@item.Prix €</td>
                <td>
                    <a asp-controller="Product" asp-action="Details" 
                       asp-route-id="@item.Id">Loupe</a>
                </td>
            </tr>
        }
    </tbody>
</table>
