﻿@{ 
    int maVariable = 42;
    ViewData["Title"] = "Page Index";
}
<p>Hello World !!!</p>
<p>Changements @maVariable</p>
<h1>Mon titre</h1>
@if(false)
{
    <p>Test</p>
}

@section Scripts {
    <script>
        //alert();
    </script>
}